# Python
venv/
__pycache__/
*.pyc

# Environment & Secrets
.env
Server_Config/
deployment/secrets/
*.key
*.pub
*.pem
*.ppk
id_rsa


# Redundant Binaries
PythonTools/php/

# Data and Outputs
# Data and Outputs
Outputs/
data/outputs/
_archive/
bases/
data/
!data/*.json
!data/registry_index.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
